USE [master]
GO
/****** Object:  Database [pos_db]    Script Date: 03/08/2026 10.30.34 ******/
CREATE DATABASE [pos_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pos_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.HEROICSQLSERVER\MSSQL\DATA\pos_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pos_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.HEROICSQLSERVER\MSSQL\DATA\pos_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pos_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pos_db]
GO
USE [pos_db]
GO
/****** Object:  Sequence [dbo].[SeqNomorAntrian]    Script Date: 03/08/2026 10.30.34 ******/
CREATE SEQUENCE [dbo].[SeqNomorAntrian] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Synonym [dbo].[Setting]    Script Date: 03/08/2026 10.30.34 ******/
CREATE SYNONYM [dbo].[Setting] FOR [PengaturanToko]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_HitungTotalOrder]    Script Date: 03/08/2026 10.30.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_HitungTotalOrder] (@OrderId INT)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @Total DECIMAL(18,2) = 0.00;
    DECLARE @Jumlah INT;
    DECLARE @HargaOrder DECIMAL(18,2);

    DECLARE ItemCursor CURSOR FOR 
        SELECT Jumlah, HargaOrder 
        FROM Struk 
        WHERE OrderId = @OrderId;

    OPEN ItemCursor;
    FETCH NEXT FROM ItemCursor INTO @Jumlah, @HargaOrder;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @Total = @Total + (@Jumlah * @HargaOrder);
        FETCH NEXT FROM ItemCursor INTO @Jumlah, @HargaOrder;
    END;

    CLOSE ItemCursor;
    DEALLOCATE ItemCursor;

    RETURN @Total;
END;
GO
/****** Object:  Table [dbo].[Struk]    Script Date: 03/08/2026 10.30.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Struk](
	[StrukId] [int] IDENTITY(1,1) NOT NULL,
	[Jumlah] [int] NOT NULL,
	[HargaOrder] [decimal](18, 2) NOT NULL,
	[OrderId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
 CONSTRAINT [PK_Struk] PRIMARY KEY CLUSTERED 
(
	[StrukId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meja]    Script Date: 03/08/2026 10.30.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meja](
	[MejaId] [int] IDENTITY(1,1) NOT NULL,
	[StatusMeja] [int] NOT NULL,
	[KodeMeja] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Meja] PRIMARY KEY CLUSTERED 
(
	[MejaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 03/08/2026 10.30.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[NamaKustomer] [nvarchar](100) NOT NULL,
	[NomorAntrian] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[TipeOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[MejaId] [int] NULL,
	[Catatan] [nvarchar](225) NULL,
	[MetodePembayaran] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 03/08/2026 10.30.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[NamaMenu] [nvarchar](150) NOT NULL,
	[HargaAsli] [decimal](18, 2) NOT NULL,
	[Gambar] [nvarchar](225) NOT NULL,
	[Stok] [int] NOT NULL,
	[KategoriId] [int] NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LaporanPenjualanDetail]    Script Date: 03/08/2026 10.30.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_LaporanPenjualanDetail] AS
SELECT 
    o.OrderId,
    o.NamaKustomer,
    o.NomorAntrian,
    o.TipeOrder,
    o.CreatedAt AS WaktuOrder,
    m.KodeMeja,
    mn.NamaMenu,
    s.Jumlah AS JumlahBeli,
    s.HargaOrder,
    (s.Jumlah * s.HargaOrder) AS SubTotal
FROM [Order] o
LEFT JOIN Meja m ON o.MejaId = m.MejaId
INNER JOIN Struk s ON o.OrderId = s.OrderId
INNER JOIN Menu mn ON s.MenuId = mn.MenuId;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 03/08/2026 10.30.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aktivitas]    Script Date: 03/08/2026 10.30.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aktivitas](
	[AktivitasId] [int] IDENTITY(1,1) NOT NULL,
	[TipeAktivitas] [int] NOT NULL,
	[Deskripsi] [nvarchar](225) NOT NULL,
	[Waktu] [datetime2](7) NOT NULL,
	[StaffId] [int] NOT NULL,
 CONSTRAINT [PK_Aktivitas] PRIMARY KEY CLUSTERED 
(
	[AktivitasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 03/08/2026 10.30.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[KategoriId] [int] IDENTITY(1,1) NOT NULL,
	[NamaKategori] [nvarchar](100) NOT NULL,
	[Icon] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Kategori] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PengaturanToko]    Script Date: 03/08/2026 10.30.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PengaturanToko](
	[PengaturanTokoId] [int] IDENTITY(1,1) NOT NULL,
	[NamaToko] [nvarchar](100) NOT NULL,
	[NomorTelepon] [int] NOT NULL,
	[Alamat] [nvarchar](225) NOT NULL,
	[Pajak] [decimal](5, 2) NOT NULL,
	[ServiceCharge] [decimal](5, 2) NOT NULL,
	[PesanHeaderStruk] [nvarchar](225) NOT NULL,
	[PesanFooterStruk] [nvarchar](225) NOT NULL,
 CONSTRAINT [PK_PengaturanToko] PRIMARY KEY CLUSTERED 
(
	[PengaturanTokoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 03/08/2026 10.30.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Pin] [int] NOT NULL,
	[Shift] [nvarchar](50) NOT NULL,
	[RoleUser] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Aktivitas_StaffId]    Script Date: 03/08/2026 10.30.34 ******/
CREATE NONCLUSTERED INDEX [IX_Aktivitas_StaffId] ON [dbo].[Aktivitas]
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IdxNamaKategori]    Script Date: 03/08/2026 10.30.34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IdxNamaKategori] ON [dbo].[Kategori]
(
	[NamaKategori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IdxKodeMeja]    Script Date: 03/08/2026 10.30.34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IdxKodeMeja] ON [dbo].[Meja]
(
	[KodeMeja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Menu_KategoriId]    Script Date: 03/08/2026 10.30.34 ******/
CREATE NONCLUSTERED INDEX [IX_Menu_KategoriId] ON [dbo].[Menu]
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IdxNamaKustomer]    Script Date: 03/08/2026 10.30.34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IdxNamaKustomer] ON [dbo].[Order]
(
	[NamaKustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_MejaId]    Script Date: 03/08/2026 10.30.34 ******/
CREATE NONCLUSTERED INDEX [IX_Order_MejaId] ON [dbo].[Order]
(
	[MejaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IdxUsername]    Script Date: 03/08/2026 10.30.34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IdxUsername] ON [dbo].[Staff]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Struk_MenuId]    Script Date: 03/08/2026 10.30.34 ******/
CREATE NONCLUSTERED INDEX [IX_Struk_MenuId] ON [dbo].[Struk]
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Struk_OrderId]    Script Date: 03/08/2026 10.30.34 ******/
CREATE NONCLUSTERED INDEX [IX_Struk_OrderId] ON [dbo].[Struk]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Meja] ADD  DEFAULT (N'') FOR [KodeMeja]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [MetodePembayaran]
GO
ALTER TABLE [dbo].[Aktivitas]  WITH CHECK ADD  CONSTRAINT [FK_Aktivitas_Staff_StaffId] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Aktivitas] CHECK CONSTRAINT [FK_Aktivitas_Staff_StaffId]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Kategori_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategori] ([KategoriId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_Kategori_KategoriId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Meja_MejaId] FOREIGN KEY([MejaId])
REFERENCES [dbo].[Meja] ([MejaId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Meja_MejaId]
GO
ALTER TABLE [dbo].[Struk]  WITH CHECK ADD  CONSTRAINT [FK_Struk_Menu_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([MenuId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Struk] CHECK CONSTRAINT [FK_Struk_Menu_MenuId]
GO
ALTER TABLE [dbo].[Struk]  WITH CHECK ADD  CONSTRAINT [FK_Struk_Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Struk] CHECK CONSTRAINT [FK_Struk_Order_OrderId]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuatOrderBaru]    Script Date: 03/08/2026 10.30.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuatOrderBaru]
    @NamaKustomer NVARCHAR(100),
    @NomorAntrian INT,
    @TipeOrder INT,
    @MetodePembayaran INT,
    @MejaId INT,
    @MenuId INT,
    @JumlahBeli INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @NewOrderId INT;
        INSERT INTO [Order] (NamaKustomer, NomorAntrian, Status, TipeOrder, CreatedAt, Catatan, MetodePembayaran, MejaId)
        VALUES (@NamaKustomer, @NomorAntrian, 0, @TipeOrder, GETDATE(), NULL, @MetodePembayaran, @MejaId);

        SET @NewOrderId = SCOPE_IDENTITY();

        INSERT INTO Struk (Jumlah, HargaOrder, OrderId, MenuId)
        VALUES (
            @JumlahBeli, 
            (SELECT HargaAsli FROM Menu WHERE MenuId = @MenuId), 
            @NewOrderId, 
            @MenuId
        );

        COMMIT TRANSACTION;
        PRINT 'Order baru berhasil dibuat!';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TambahKategori]    Script Date: 03/08/2026 10.30.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Buat Prosedur Tambah Kategori, Implementasi TCL, Exception Handling
CREATE PROCEDURE [dbo].[sp_TambahKategori] --Name Prosedur
    @p_NamaKategori VARCHAR(100), --Inisiasi Data Apa Yang Perlu Di Tambahkan
    @p_Icon VARCHAR(50) --Inisiasi Data Apa Yang Perlu Di Tambahkan
AS --Awal Penulisan Prosedur
BEGIN --Memulai Logika
    --SET NOCOUNT ON; --Menonaktifkan Pesan
    BEGIN TRY --Logika Di Bungkus Dengan Exception Mulai
        BEGIN TRANSACTION; --Memulai Transaksi Data Yang Dimana Memantau Jalannya Query (Membuat Sementara)

        INSERT INTO Kategori (NamaKategori, Icon) --Menambahkan Data Baru
        VALUES (@p_NamaKategori, @p_Icon); --Mengambil Variabel Data Yang Akan Diisi

        COMMIT TRANSACTION; --Menyelesaikan Transaksi Data Jika Berhasil Di Jalankan (Membuat Permanen)
    END TRY --Logika Di Bungkus Dengan Exception Selesai
    BEGIN CATCH --JIka Di Dalam Logika Try Terjadi Kesalahan Makan Akan Menjalankan Ini
        IF @@TRANCOUNT > 0 --Kondisi Dimana Transaksi Jika Ada Yang Berjalan Maka Akan Membatalkan Transaksi Data Tersebut Yaitu Begin Transaction
            ROLLBACK TRANSACTION; --Membatalkan Perubahan Yang Terjadi Di Tabel Database Jika Query Gagal Di Jalankan

        RAISERROR('Gagal menambah data kategori!', 16, 1); --Menampilkan Pesan Kesalahan Custom
    END CATCH --Penutp Bungkusan Catch
END; --Menyelesaikan Logika

GO
USE [master]
GO
